#ignore everything
/*
/*/

#except
!/alacritty/
!/dunst/
!/fish/
!/fontconfig/
!/i3/
!/i3-old/
!/i3status.conf
!/neofetch/
!/picom/
!/polybar/
!/polybar-old/
!/ranger/
!/redshift/
!/rofi/
!/Scripts/
!/settings.xml
!/termite/
!/update-config.sh
!/vim/
/vim/plugged/
/vim/sessions/
/vim/.netrwhist
!/.gitignore
!/xprofile
!/zshrc
!/README.md
!/preview-pic.png
!/local-config
!/local-config.ini
!/zsh
!/winfont
