#ignore everything
/*
/*/

#except
!/.gitignore
!/alacritty/
!/archlinuxcn
!/dunst/
!/fish/
!/fontconfig/
!/i3/
!/local-config
!/local-config.ini
!/neofetch/
!/picom/
!/polybar/
!/preview-pic.png
!/ranger/
!/README.md
!/redshift/
!/rofi/
!/Scripts/
!/settings.xml
!/termite/
!/update-config.sh
!/vim/
/vim/plugged/
/vim/sessions/
/vim/.netrwhist
!/vm-win.service
!/winfont
!/xprofile
!/zsh
!/zshrc
