#ignore everything
/*
/*/

#except
!99-personal-kbd.hwdb
!/.gitignore
!/alacritty/
!/archlinuxcn
!/blurlock
!Code - OSS/
!crontab
!/dunst/
!/dwmbar/
!/fan.py
!/fan.service
!/fish/
!/fontconfig/
!/i3/
!/kernelconfig
!/kglobalshortcutsrc
!/local-config
!/local-config.ini
!/mpd/
!/mpv/
/mpd/log
/mpd/mpd.db
/mpd/mpd.pid
/mpd/mpdstate
!/myQmk
!/neofetch/
!/picom/
!/polybar/
!/preview-pic.png
!/ranger/
!/README.md
!/redshift/
!/rofi/
!/Scripts/
!/settings.xml
!/ssh/
!/termite/
!/update-config.sh
!/v2ray/
!/vim/
/vim/plugged/
/vim/sessions/
/vim/.netrwhist
!/vm-win.service
!/winfont
!/xprofile
!/zsh
!/zshrc
!/p10k.zsh
