[Unit]
Description=Windows10 VM
After=vmware-hostd.service vmware-networks.service vmware-usbarbitrator.service

[Service]
Type=simple
RemainAfterExit=True
ExecStart=/usr/bin/vmrun start '/home/microsweet/HDD/vmware/Windows10/Windows 10 x64.vmx' nogui
ExecStop=/usr/bin/vmrun suspend '/home/microsweet/HDD/vmware/Windows10/Windows 10 x64.vmx'

[Install]
WantedBy=multi-user.target
